/* Geral ----------------------------------------------------------------------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #F8F8F8;
	margin: 0px;
	padding: 45px 0px 0px 0px;
	background-color: #F8F8F8;
}

div#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	z-index: 99
}

@media screen {
	body>div#header {
		position: fixed;
	}
}

* html body {
	overflow: visible;
}

* html div#content {
	overflow: visible;
}

frameset {
	border: none
}

frame {
	border: none
}

/* Cabeçalho ------------------------------------------------------------------------- */
#cabecalho {
	background: #006BB6 url(../../common/images/fundo_barra_azul.gif)
		no-repeat left top;
	height: 60px;
	width: 100%;
	vertical-align: middle;
}

#logo_sistema {
	float: left
}

#logo_sistema_industria {
	float: right;
	padding: 5px 10px 0px 0px
}

.topo_barra_links {
	background: transparent url(../../common/images/fundo_barra_links.gif)
		repeat-x 0 0;
	width: 100%;
	height: 20px;
}

/* Menu ------------------------------------------------------------------------------ */
#menu {
	background: url(../../common/images/fundo_barra_menu.gif) repeat-x;
	vertical-align: middle;
	height: 24px;
	width: 100%;
}

.menuLinkClass:link {
	color: black;
	text-decoration: none
}

.menuLinkClass:visited {
	color: black;
	text-decoration: none
}

.menuLinkClass:hover {
	color: black;
	text-decoration: none
}

.menuLinkClass:active {
	color: black;
	text-decoration: none
}

/* Mensagens ------------------------------------------------------------------------------ */
#mensagens {
	background-color: #F5F5F5;
	border: 2px solid #E0DFE3;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	color: #E0DFE3;
	width: 99.5%;
}

#mensagens td {
	text-align: left;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-: 12px;
	width: 100%;
}

#mensagens span {
	padding-left: 18px;
	border: 0px;
}

.erro {
	background: url(../../common/images/warning.gif) no-repeat left;
	color: red;
}

.rich-messages { #
	background-color: #F5F5F5;
	border: 2px solid #E0DFE3;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto; #
	color: #E0DFE3;
	width: 90%;
	padding: 5px;
}

.erroInterno {
	color: red;
}

.info {
	background: url(../../common/images/info.gif) no-repeat left;
	color: green;
}

/* Conteúdo - Corpo ------------------------------------------------------------------ */
.conteudo {
	position: relative;
	margin: 0 18px 0px 18px;
	border: 1px solid #346cbe;
	background: #fff;
}

.viewContent {
	margin: 0 18px 0px 18px;
}

h1.cont {
	background-color: #1B7BBE;
	padding: 0px 8px;
	font-size: 15px;
	margin: 0 0 10px 0;
	white-space: nowrap;
	text-align: left
}

h1.cont span {
	background-color: #f8f8f8;
	padding: 0px 8px;
	font-weight: bold;
	color: #1B7BBE;
}

p.noteMain {
	padding: 15px 15px 15px 15px;
	border: 1px solid #ACBECE;
	background: #F0F3F7
}

.textAlign {
	text-align: center;
}

.alignRightButtonClass {
	position: absolute;
	right: 42px;
}

.alignRightClass {
	width: 100%;
	position: relative;
	right: 0px;
	position: relative;
}

.alignCenterClass {
	margin: 0px auto 0px auto;
	text-align: center;
}

.newFormClass { /* border: 2px solid #F0F0F0; */
	width: 100%;
}

.formClass { /* background-color: #F0F0F0; */
	width: 100%;
}

.formClass td {
	border: 2px solid white;
}

.fieldPadding td {
	padding-right: 3px;
}

.imageClass {
	height: 100%;
}

.imageClass td {
	background-color: white;
	padding: 0 3px 0 3px;
}

.labelClass {
	font-weight: bold;
	white-space: nowrap;
}

.noCellBorderClass td {
	border: none;
}

.alignedToTop {
	vertical-align: top;
	border-top-width: medium;
}

.duasColunasClass {
	width: 50%;
}

.trintaseteClass {
	width: 37%;
}

.tresColunasClass {
	width: 33%;
}

.quatroColunasClass {
	width: 25%;
}

.cincoColunasClass {
	width: 20%;
}

.seisColunasClass {
	width: 16%;
}

.nomeUsrClass {
	width: 60%;
}

.loginUsrClass {
	width: 40%;
}

.fullWidthClass {
	width: 100%;
}

.fullHeightClass {
	height: 100%;
}

.centerClass {
	text-align: center;
}

.msgErro {
	margin-left: 5px;
	color: red;
}

.noStyleClass {
	
}

p.note {
	background: url(../../common/images/note_bg.gif) top left no-repeat
		#F0F3F7;
	padding: 15px 15px 15px 45px;
	border: 1px solid #ACBECE;
	margin: 0px;
}

p.botoes {
	border-top: 1px solid #ddd;
	padding: 10px !important;
	margin: 10px 0 0 0 !important;
	text-align: center;
}

.obrigatorio {
	font-weight: bold;
	color: #c00;
	margin-right: 2px;
}

.noWrapClass {
	white-space: nowrap;
}

.formFieldClass {
	width: 100%;
}

div.errorMessage {
	border: 1px solid #ccc;
	margin: 18px;
	padding: 10px 20px 10px 86px;
	background: #F0F0F0 url(../images/erro.gif) no-repeat;
}

div.errorStackTrace {
	border: 1px solid #ccc;
	background: #F0F0F0;
	margin-top: 18px;
	margin-bottom: 18px;
}

.closeButtonClass {
	text-align: right;
	width: 1px solid red !important;
	margin: -1px 0 0 0;
}

.rich-table td {
	font-size: 12px;
}

.buttonClass {
	cursor: pointer;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	color: 4F4F4F;
	font-family: Arial, Verdana;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	overflow: visible;
}

.buttonClass:hover {
	background-color: #dfdfdf;
}

.buttonClass:active {
	position: relative;
	top: 1px;
}

.buttonClass-old {
	border-width: 1px;
	background-repeat: repeat-x;
	background-position: top left;
	border-color: #BED6F8;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	color: #000;
	background-color: #BED6F8;
	background-image:
		url(../../a4j/g/3_3_2.SR1org.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGDg!v!9049r-5gAGcAFgg__.faces);
}

.inputTextClass {
	-moz-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
	box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
}

.inputTextClass-old {
	border-width: 1px;
	border-style: inset;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	border-color: #BED6F8;
	font-size: 14px;
	font-family: Arial, Verdana, sans-serif;
	color: #000;
	background-color: #fff;
	background-image:
		url(../../a4j/g/3_3_2.SR1org.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGDg!vflzf!!!5kAGqIF6Q__.faces);
}

.panelInterno {
	width: 100%;
}

.rich-panel-header {
	border-width: 0px;
	height: 17px;
	padding-top: 2px;
	padding-left: 5px;
}

.layBarraCronometroGeral {
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	white-space: nowrap;
	position: relative;
	top: -20px;
}

.rich-calendar-input {
	border-width: 1px;
	border-style: inset;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	border-color: #BED6F8;
	font-size: 12px;
	font-family: Arial, Verdana, sans-serif;
	color: #000;
	background-color: #fff;
	background-image:
		url(../../a4j/g/3_3_2.SR1org.richfaces.renderkit.html.images.InputBackgroundImage/DATB/eAFjYGDg!vflzf!!!5kAGqIF6Q__.faces);
}

.rich-messages-marker img {
	padding-right: 7px;
	padding-left: 7px;
}

.rich-message-label {
	color: red;
}

.rich-panel-body {
	font-size: 12px;
}

.top {
	vertical-align: top;
}

table {
	font-size: 12px;
}